// Important elements
$primary: #FF002A;

// Background
$darkest: #050505;

// Container backgrounds or dark borders
$dark: #211921;

// Hint or side text
$hint: #404040;

// Body text
$light: #DDDDDD;

// Header text and borders
$lightest: #F2F2F2;
