@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/jetbrains/eot/JetBrainsMono-Regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/jetbrains/eot/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/jetbrains/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/jetbrains/woff2/JetBrainsMono-Regular.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/jetbrains/ttf/JetBrainsMono-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/jetbrains/eot/JetBrainsMono-Bold.eot'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/jetbrains/eot/JetBrainsMono-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/jetbrains/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/jetbrains/woff2/JetBrainsMono-Bold.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/jetbrains/ttf/JetBrainsMono-Bold.ttf') format('truetype'),
}

@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/jetbrains/eot/JetBrainsMono-ExtraBold.eot'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/jetbrains/eot/JetBrainsMono-ExtraBold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/jetbrains/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/jetbrains/woff2/JetBrainsMono-ExtraBold.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/jetbrains/ttf/JetBrainsMono-ExtraBold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  // src: url('/fonts/inter/eot/Inter-Bold.eot'); /* IE9 Compat Modes */
  // src: local(''), url('/fonts/inter/eot/Inter-Bold.eot?#iefix') format('embedded-opentype'),
  src:
    /* IE6-IE8 */ url('/fonts/inter/woff2/Inter-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/inter/woff2/Inter-Regular.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/inter/ttf/Inter-V.ttf') format('truetype'),
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  // src: url('/fonts/inter/eot/Inter-Bold.eot'); /* IE9 Compat Modes */
  // src: local(''), url('/fonts/inter/eot/Inter-Bold.eot?#iefix') format('embedded-opentype'),
  src:
    /* IE6-IE8 */ url('/fonts/inter/woff2/Inter-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/inter/woff2/Inter-Bold.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/inter/ttf/Inter-V.ttf') format('truetype'),
}
