$page-padding: 2.5rem;

$spacing: 2rem;
$spacing-sm: 1rem;

$max-width: 1250px;

.main {
  width: min(100%, $max-width);
  padding: $page-padding;

  display: flex;
  flex-direction: column;
  gap: $spacing;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: $spacing-sm;

  p {
    max-width: 50em;
    max-width: 80ch;
  }
}

// Keep the footer at the bottom of the page
.wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
