:root {
  --color-accent: #ff002a;
  --color-hint: #777;
  --color-bg-alt: #211921;
}

.body {
  background-color: black;
  color: white;
}

#g0:checked + label,
#g1:checked + label,
#g2:checked + label,
#g3:checked + label,
#g4:checked + label,
#i0:checked + label,
#i1:checked + label,
#i2:checked + label,
#i3:checked + label,
#i4:checked + label,
#g0:focus + label,
#g1:focus + label,
#g2:focus + label,
#g3:focus + label,
#g4:focus + label {
  background-color: #fff;
  color: #000;
}

#i0:focus:not(:checked) + label,
#i1:focus:not(:checked) + label,
#i2:focus:not(:checked) + label,
#i3:focus:not(:checked) + label,
#i4:focus:not(:checked) + label {
  color: white;
  background-color: #211921;
  border-width: 3px;
}
