$page-padding: 2.5rem;

$spacing: 2rem;
$spacing-sm: 1rem;

$max-width: 1250px;

.main {
  width: min(100%, $max-width);
  padding: $page-padding;

  display: flex;
  flex-direction: column;
  gap: $spacing;
}

.header {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}

.buttonLink {
  width: 100% !important;
  display: block;
}

.button {
  min-width: 100%;

  &:hover {
    background-color: darken(#ff002a, 10%) !important;
  }
}

@media (max-width: 550px) {
  .button {
    min-width: 100% !important;
  }
}

@media (min-width: 800px) {
  .flex {
    flex-direction: row !important;

    & > div {
      flex: 1;
    }
  }

  .desktopVisible {
    display: block !important;
  }
}

.desktopVisible {
  display: none;
}

.desktopMaxW {
  max-width: 90rem;
  max-width: 45ch;
}

@media (min-width: 551px) {
  .button {
    min-width: 50% !important;
  }
}

// Keep the footer at the bottom of the page
.wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
